
<div class="container well content">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="pull-left section-title">

				<span>Search Department</span>
				<a href="#/partials/employee/newdepartment" class="btn btn-primary pull-right btn-sm" >Add New</a>
			</h2>
		</div>
	</div>
	
	<div class="row">
	<form>
	  <div class="col-lg-8">
	    <div class="form-group" ng-class="{'has-error is-focused' : errors.data.error}">
	      <label>Search Key:</label>
	      <input type="text" id="searchKey" class="form-control" required="required" ng-model="search.searchKey" 
	      		placeholder="Enter Department Name or description to search.">
	      		<span ng-show="errors.data.error" class="help-text">
                      {{errors.data.error}}
                 </span>
	      <span class="input-group-btn">
	        <button class="btn btn-primary" ng-click='searchDepartment(search)' type="button">Search</button>
	      
	      </span>

	    </div>
	  </div>
	  </form>
	</div>

<!-- 	 <h4 ng-show="userAccountList.length >= 0">{{userAccountList.length}} Results found for the search word '{{searchKey}}'</h4> -->
	<div class="well" ng-show="units.length">
	    <table class="table">
	      <thead>
	    
	        <tr>
	          <th>#</th>
	          <th>Department Name</th>
	          <th>Description</th>
	          <th style="width: 36px;"></th>
	            
	        </tr>
	      </thead>
	      <tbody>
	        <tr ng-repeat="department in units">
	          <td>{{$index +1}}</td>
	          <td><strong>{{department.departmentName}}</strong></td>
	         <td><strong><a href="#/partials/employee/edit/{{department.id}}" >{{department.description}}
	          </a></strong></td>
	          <td><button type="button" class="btn btn-lg btn-danger pull-left"
					ng-click='deleteUnit(department.id)' style="background-color: red;">Delete</button></td>
	      </tbody>
	    </table>
	</div>
</div>



