
<div class="well page">
	<div class="row"
		style="display: flex !important; justify-content: center !important;">
		<h3>Existing roles with their description</h3>
	</div>

	<div class="row col-md-offset-2 custyle" style="padding: 35px;">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<a href="#"
					style="pointer-events: none; display: inline-block; background-color: #273896;"
					class="btn btn-primary btn-xs pull-right"><b>+</b> Add Role</a>
				<tr>
					<th>ID</th>
					<th>Code</th>
					<th>Name</th>
					<th>Description</th>
				</tr>
			</thead>
			<tr ng-repeat="r in resultData">
				<td>{{$index +1}}</td>
				<td>{{r.code}}</td>
				<td>{{r.name}}</td>
				<td>{{r.description}}</td>
			</tr>
			<tfoot>
				<tr>
					<th>ID</th>
					<th>Code</th>
					<th>Name</th>
					<th>Description</th>
				</tr>
			</tfoot>
		</table>
	</div>
</div>