<div class="">
	<div access="ROLE_USER">Here is the my_account</div>
	<div access="ROLE_ADMIN">

		<link
			href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
			rel="stylesheet">

		<div class="social-box">
			<div class="container">
				<div class="row">
					<a href="#/employee/contact" style="color: black !important">
						<div class="col-lg-4 col-xs-12 text-center">
							<div class="box">
								<i class="fa fa-address-card fa-3x" aria-hidden="true"></i>
								<div class="box-title">
									<h3>Manage Contacts</h3>
								</div>
								<div class="box-text">
									<span>View contacts of the employees.</span>
								</div>
								<!-- <div class="box-btn">
								<a href="#">Learn More</a>
							</div>-->
							</div>
						</div>
					</a>
					<!-- <div class="col-lg-4 col-xs-12 text-center">
						<div class="box">
							<i class="fa fa-address-book fa-3x" aria-hidden="true"></i>
							<div class="box-title">
								<h3>Add Contact</h3>
							</div>
							<div class="box-text">
								<span>Add contact information for already registered
									employee.</span>
							</div>
						</div>
					</div>
					-->
					<a href="#/employee/view" style="color: black !important">
						<div class="col-lg-4 col-xs-12  text-center">
							<div class="box">
								<i class="fa fa-briefcase fa-3x" aria-hidden="true"></i>
								<div class="box-title">
									<h3>Manage Employee</h3>
								</div>
								<div class="box-text">
									<span>Register employee before storing contact
										information.</span>
								</div>
								<!-- <div class="box-btn">
								<a href="#">Learn More</a>
							</div>-->
							</div>
						</div>
					</a>
					<a href="#/employee/unit" style="color: black !important">
						<div class="col-lg-4 col-xs-12 text-center">
							<div class="box">
								<i class="fa fa-plus fa-3x" aria-hidden="true"></i>
								<div class="box-title">
									<h3>Add Unit</h3>
								</div>
								<div class="box-text">
									<span>Add units/departments to register employees.</span>
								</div>
								<!-- <div class="box-btn">
								<a href="#">Learn More</a>
							</div>-->
							</div>
						</div>
					</a>
				</div>
				<div class="row">
					<button class="btn btn-primary" ng-click="deleteContact()"style="background-color: red;">Delete</button>
				</div>
			</div>
		</div>
	</div>
	<!--  <div ng-controller="localeController">
		<button ng-click="changeLocale('en')">Change Locale to EN -
			{{selectedLocale}}</button>

		<button ng-click="changeLocale('es')">Change Locale to ES -
			{{selectedLocale}}</button>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<h1 class="pull-left" style="margin-left: 16px">Collateral Loan
				Info System</h1>
		</div>
	</div>
		-->
</div>

<style>
body {
	background: #f2f2f2;
	font-family: 'Poppins', sans-serif;
}

.social-box .box {
	height: 230px;
	border-radius: 10px;
	cursor: pointer;
	margin: 15px 0;
	padding: 40px 10px;
	transition: all 0.5s ease-out;
	background: #FFF;
	border-radius: 10px;
}

.social-box .box:hover {
	box-shadow: 0 0 6px #4183D7;
}

.social-box .box-text {
	font-size: 15px;
	line-height: 30px;
	margin: 20px 0;
}

.social-box .box-btn a {
	color: #4183D7;
	font-size: 16px;
	text-decoration: none;
}

.social-box .fa {
	color: #4183D7;
}
</style>